html,
body,
main {
    height: 100%;
}

body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


main .roulette-container {
    position: relative;
    
}

main .roulette-container #selector {
    position: absolute;
    top: -20px;
    left: 50%;
    display: inline-block;
    width: 0%;
    height: 0%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #c03131;
    z-index: 1;
    transform: translateX(-50%);
    

}

#roulette {
    background: #a59d05;
    width: 400px;
    height: 400px;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    border-radius: 100%;
    transition-property: transform;
    transform: rotate(0deg);
    

}

#roulette .roulette-section {
    position: absolute;
    overflow: hidden;
    font-size: 8px;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
}

#roulette .roulette-section .roulette-section-container {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    padding-top: 60px;
    transform: skewY(60deg) rotate(15deg);

}

#roulette .roulette-section .roulette-section-container p {
    margin-top: 1px;
    transform: rotate(90deg);

}

.button-container {
    margin-top: 50px;
}

.button-container button#reset {
    display: none;
}

#roulette .roulette-section:nth-child(1) .roulette-section-container {
    background: #FF5733; /* Rojo brillante */
}
#roulette .roulette-section:nth-child(2) .roulette-section-container {
    background: #C70039; /* Rojo oscuro */
}
#roulette .roulette-section:nth-child(3) .roulette-section-container {
    background: #900C3F; /* Morado intenso */
}
#roulette .roulette-section:nth-child(4) .roulette-section-container {
    background: #581845; /* Púrpura profundo */
}
#roulette .roulette-section:nth-child(5) .roulette-section-container {
    background: #1D3557; /* Azul oscuro */
}
#roulette .roulette-section:nth-child(6) .roulette-section-container {
    background: #457B9D; /* Azul cielo */
}
#roulette .roulette-section:nth-child(7) .roulette-section-container {
    background: #A8DADC; /* Turquesa suave */
}
#roulette .roulette-section:nth-child(8) .roulette-section-container {
    background: #F1FAEE; /* Blanco cremoso */
}
#roulette .roulette-section:nth-child(9) .roulette-section-container {
    background: #FFC300; /* Amarillo dorado */
}
#roulette .roulette-section:nth-child(10) .roulette-section-container {
    background: #FF5733; /* Naranja vibrante */
}
#roulette .roulette-section:nth-child(11) .roulette-section-container {
    background: #F4A261; /* Naranja suave */
}
#roulette .roulette-section:nth-child(12) .roulette-section-container {
    background: #E76F51; /* Coral suave */
}
#roulette .roulette-section:nth-child(13) .roulette-section-container {
    background: #2A9D8F; /* Verde agua */
}
#roulette .roulette-section:nth-child(14) .roulette-section-container {
    background: #264653; /* Verde oscuro */
}
#roulette .roulette-section:nth-child(15) .roulette-section-container {
    background: #8E44AD; /* Morado vibrante */
}
#roulette .roulette-section:nth-child(16) .roulette-section-container {
    background: #3498DB; /* Azul brillante */
}
#roulette .roulette-section:nth-child(17) .roulette-section-container {
    background: #2ECC71; /* Verde brillante */
}
#roulette .roulette-section:nth-child(18) .roulette-section-container {
    background: #F39C12; /* Amarillo anaranjado */
}
#roulette .roulette-section:nth-child(19) .roulette-section-container {
    background: #E74C3C; /* Rojo intenso */
}
#roulette .roulette-section:nth-child(20) .roulette-section-container {
    background: #16A085; /* Verde azulado */
}
#roulette .roulette-section:nth-child(21) .roulette-section-container {
    background: #27AE60; /* Verde pasto */
}
#roulette .roulette-section:nth-child(22) .roulette-section-container {
    background: #2980B9; /* Azul vibrante */
}
#roulette .roulette-section:nth-child(23) .roulette-section-container {
    background: #8E44AD; /* Púrpura intenso */
}
#roulette .roulette-section:nth-child(24) .roulette-section-container {
    background: #34495E; /* Azul grisáceo */
}
#roulette .roulette-section:nth-child(25) .roulette-section-container {
    background: #F4D03F; /* Amarillo suave */
}
#roulette .roulette-section:nth-child(26) .roulette-section-container {
    background: #DC7633; /* Naranja oscuro */
}
#roulette .roulette-section:nth-child(27) .roulette-section-container {
    background: #A569BD; /* Lila pastel */
}
#roulette .roulette-section:nth-child(28) .roulette-section-container {
    background: #5DADE2; /* Azul suave */
}
#roulette .roulette-section:nth-child(29) .roulette-section-container {
    background: #58D68D; /* Verde menta */
}
#roulette .roulette-section:nth-child(30) .roulette-section-container {
    background: #F5B041; /* Dorado suave */
}
#roulette .roulette-section:nth-child(31) .roulette-section-container {
    background: #D98880; /* Rosa coral */
}
#roulette .roulette-section:nth-child(32) .roulette-section-container {
    background: #ABB2B9; /* Gris claro */
}
#roulette .roulette-section:nth-child(33) .roulette-section-container {
    background: #566573; /* Gris oscuro */
}
#roulette .roulette-section:nth-child(34) .roulette-section-container {
    background: #F9E79F; /* Amarillo pastel */
}
#roulette .roulette-section:nth-child(35) .roulette-section-container {
    background: #82E0AA; /* Verde brillante */
}
#roulette .roulette-section:nth-child(36) .roulette-section-container {
    background: #85C1E9; /* Azul pastel */
}


#roulette .roulette-section:nth-child(1) {
    transform: rotate(0deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(2) {
    transform: rotate(10deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(3) {
    transform: rotate(20deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(4) {
    transform: rotate(30deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(5) {
    transform: rotate(40deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(6) {
    transform: rotate(50deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(7) {
    transform: rotate(60deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(8) {
    transform: rotate(70deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(9) {
    transform: rotate(80deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(10) {
    transform: rotate(90deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(11) {
    transform: rotate(100deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(12) {
    transform: rotate(110deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(13) {
    transform: rotate(120deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(14) {
    transform: rotate(130deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(15) {
    transform: rotate(140deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(16) {
    transform: rotate(150deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(17) {
    transform: rotate(160deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(18) {
    transform: rotate(170deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(19) {
    transform: rotate(180deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(20) {
    transform: rotate(190deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(21) {
    transform: rotate(200deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(22) {
    transform: rotate(210deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(23) {
    transform: rotate(220deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(24) {
    transform: rotate(230deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(25) {
    transform: rotate(240deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(26) {
    transform: rotate(250deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(27) {
    transform: rotate(260deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(28) {
    transform: rotate(270deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(29) {
    transform: rotate(280deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(30) {
    transform: rotate(290deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(31) {
    transform: rotate(300deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(32) {
    transform: rotate(310deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(33) {
    transform: rotate(320deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(34) {
    transform: rotate(330deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(35) {
    transform: rotate(340deg) skewY(-80deg);
}

#roulette .roulette-section:nth-child(36) {
    transform: rotate(350deg) skewY(-80deg);
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.button-container button {
    border: none;
    outline: none;
    padding: 15px 100px;
    background: #000000;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.button-container button:hover {
    background: #2e2e2e;
}

.button-container button:active {
    background: #292929
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
    body main {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
    }

    #roulette {
        width: 250px;
        height: 250px;
        font-size: 10px;
    }

    #roulette .roulette-section .roulette-section-container {
        padding-top: 40px;
    }

    main .roulette-container #selector {
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid #c03131;
        top: -10px;
    }

    .button-container {
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
    }

    .button-container button {
        padding: 10px 50px;
        font-size: 18px;
    }
}
