body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    /* Color de fondo para las barras laterales */
}

.container {
    width: 79%;
    /* Ajusta este valor según el porcentaje deseado */
    margin: 0 auto;
    background-color: #ffffff;
    /* Color de fondo del contenido principal */
}

.tm-header {
    background-color: #f0ecec;
    padding: 15px 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tm-header__box {
    display: flex;
    align-items: center;
    width: 98%;
}

.icon-logo {
    height: 62px;
    width: 62px;
    margin-right: 20px;
}

.tm-header__social-box {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header__social-link {
    margin-left: 10px;
}

.header__icon {
    width: 20px;
    height: 20px;
}

.tm-header__input-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Añadir esta línea */
}

.tm-header__form {
    display: flex;
}

.tm-header__input--search-field {
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
}

.tm-header__input--search-send {
    background: url('https://tmsi.akamaized.net/icons/search_icon_plus_blue_white.svg') no-repeat center center;
    background-size: contain;
    border: none;
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-top: 16px;

}

.tm-header__search-detail {
    margin-left: 10px;
}

.tm-header__icon-detail-search {
    width: 26px;
    height: 26px;
}

.main-navbar {
    background-color: #203454;
    padding: 10px 20px;
}

.main-navbar__container {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.main-navbar__list {
    margin-right: 200px;
    position: relative;
}

.main-navbar__list-title {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.main-navbar__drop-down {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.main-navbar__drop-down ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-navbar__drop-down ul li {
    border-bottom: 1px solid #ddd;
}

.main-navbar__drop-down ul li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.main-navbar__drop-down ul li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar el drop-down cuando se pasa el ratón sobre el elemento de la lista */
.main-navbar__list:hover .main-navbar__drop-down,
.main-navbar__list:focus-within .main-navbar__drop-down {
    display: block;
}

.sticky-suche {
    display: flex;
    align-items: center;
}

.header-suche-abschicken {
    border: none;
    background: none;
    cursor: pointer;
}

.tm-login {
    cursor: pointer;
}

/*Musica*/
.audio-controls {
    position: fixed;
    border: 1px;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.music-info {
    font-size: 14px;
    margin-bottom: 5px;
}

.buttons button {
    margin-right: 5px;
    font-size: 12px;
}

/*Noticas contenido*/


.news-archiv__header {
    margin-bottom: 20px;
}

.direct-headline__header-box {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
}

.direct-headline__header {
    margin: 0;
    color: #000000;
}

.container__grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}



.newsticker__box-big {
    border: 1px solid #ccc;
    
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    align-items: flex-start;
    /* Alinear elementos verticalmente */
}

.newsticker__content {
    display: flex;
    align-items: center;
}

.newsticker__image-big {
    margin-right: 10px;
    /* Ajusta el espacio entre la imagen y el texto */
}

.newsticker__text {
    flex-grow: 1;
    /* Permite que el texto ocupe todo el espacio restante */
}

.newsticker__headline-big {
    text-align: right;
    /* Alinea el texto a la derecha */
}

.vereinsstartseite {
    display: flex;
    flex-wrap: wrap;
}

/* Estilo específico para la tabla de jugadores */
.large-8 {
    flex: 0 0 60%; /* Ancho fijo del 60% */
}

/* Estilo específico para el contenido del director técnico */
.large-4 {
    flex: 0 0 40%; /* Ancho fijo del 40% */
    border: 1px solid var(--tm-grey, #ddd);
}

.large-4 .box.tm-staff-slider {
    background-color: #f0f0f06c;
    margin-left: 50px;
}


.flex-item-right {
    flex: 1 1 75%; /* Ajusta este valor según lo deseado */
}

.flex-container {
    display: flex;
    align-items: center;
}



.name {
    font-size: 1.1em;
    font-weight: bold;
}



.box .content,
.info-box .content {
    padding: .625rem;
    width: 100%
}

.content-box-headline {
    background-color: var(--tm-admiral, #00193f);
    color: var(--tm-white, #fff);
    display: block;
    font-family: var(--tm-secondary-font, 'Oswald-VF', 'Oswald-fallback', sans-serif);
    font-size: var(--tm-secondary-font-size-base, 1rem);
    font-variation-settings: var(--tm-secondary-font-regular);
    font-weight: initial;
    line-height: 1.625rem;
    margin: 0;
    padding: 0 .5rem;
    scroll-margin-top: 5rem;
    text-transform: uppercase
}

.content-box-headline a {
    align-items: center;
    color: inherit;
    display: inline-flex
}

.content-box-headline--inverted {
    background-color: var(--tm-white, #fff);
    color: var(--tm-dark-blue, #1a3151)
}

.content-box-headline--bottom-bordered {
    border-bottom: 1px solid var(--tm-light-grey, #e4e4e4)
}

.content-box-headline--extra-space {
    padding: 5px
}

.content-box-headline--logo {
    align-items: center;
    display: flex
}

.content-box-headline--logo img {
    margin-right: .5rem;
    max-width: 23px
}



/*dasd*/

/*as*/

.grid-view .summary {
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.grid-view .items {
    width: 100%;
    border-collapse: collapse;
}

.grid-view .items th,
.grid-view .items td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.grid-view .items th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.grid-view .items tr:nth-child(even) {
    background-color: #fafafa;
}

.grid-view .items img.bilderrahmen-fixed {

    width: 56px;
    height: 72px;

}

.grid-view .items td.hauptlink a {
    color: #0073e6;
    text-decoration: none;
}

.grid-view .items td.hauptlink a:hover {
    text-decoration: underline;
}

.grid-view .items .zentriert {
    text-align: center;
}

.grid-view .items .rechts {
    text-align: right;
}

.grid-view .items .flaggenrahmen {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.grid-view .items .tiny_wappen {
    width: 20px;
    height: 20px;
}

/* Estilo para el header con la clase data-header */
.content-box-headline a {
    align-items: center;
    color: inherit;
    display: inline-flex
}

.content-box-headline--inverted {
    background-color: var(--tm-white, #fff);
    color: var(--tm-dark-blue, #1a3151)
}

.content-box-headline--bottom-bordered {
    border-bottom: 1px solid var(--tm-light-grey, #e4e4e4)
}

.content-box-headline--extra-space {
    padding: 5px
}

.content-box-headline--logo {
    align-items: center;
    display: flex
}

.content-box-headline--logo img {
    margin-right: .5rem;
    max-width: 23px
}

.info-table {
    border-right: .0625rem solid var(--tm-grey, #ddd);
    display: grid;
    padding: .3125rem .9375rem
}

.info-table--right-space {
    grid-template-columns: 2fr 3fr
}

.info-table--equal-space {
    grid-template-columns: repeat(2, 1fr)
}

.info-table__content {
    color: var(--tm-dark-grey, #333);
    font-family: var(--tm-primary-font, 'Source Sans Pro', 'Source Sans Pro-fallback', sans-serif);
    font-size: var(--tm-secondary-font-size-small);
    line-height: 1.875rem
}

.info-table__content--regular {
    font-weight: var(--tm-secondary-font-regular)
}

.info-table__content--bold {
    font-weight: bold
}

.info-table__content--flex {
    align-items: center;
    display: inline-flex
}

.info-table__content--flex a {
    display: inline-flex;
    margin-right: .3125rem
}

.info-table__link {
    color: var(--tm-light-blue, #1d75a3);
    cursor: pointer;
    text-decoration: none
}

.info-table__link:hover {
    text-decoration: underline
}

.info-table__span--line-height {
    line-height: 1.125rem
}

.info-table__span--specific {
    line-height: 1rem
}

.info-table .flaggenrahmen {
    margin-right: .1875rem
}

/*Encabezado perfil*/
.data-header {
    background-image: linear-gradient(to bottom, var(--tm-white, #fff) 0%, var(--tm-white, #fff) 100%);
    border: .0625rem solid var(--tm-grey, #ddd);
    display: grid;
    grid-template: "name name" 3.125rem "image infobox" auto "image details" auto "marketvalue details" auto "triumphs triumphs" auto "watchlist watchlist" auto/7.125rem auto;
    height: auto;
    margin: .3125rem .3125rem 0;
    padding: 0;
    position: relative;
    z-index: 9991
}

@media(min-width: 769px) {
    .data-header {
        background-image: linear-gradient(to bottom, var(--tm-white, #fff) 0%, var(--tm-grey, #ddd) 30%, var(--tm-grey, #ddd) 68.5%, var(--tm-white, #fff) 68.5%);
        grid-template: "name name name name name void infobox infobox" 1fr "image void3 triumphs triumphs triumphs void infobox infobox" auto "image void3 triumphs triumphs triumphs void void2 void2" 1.25rem "image void3 triumphs triumphs triumphs void marketvalue marketvalue" 0.625rem "image void3 void4 void4 void4 void marketvalue marketvalue" 0.8125rem "image void3 void4 void4 void4 void marketvalue marketvalue" 0.75rem "image void3 details details details void marketvalue marketvalue" 4.25rem/8.9375rem 0.875rem auto;
        height: 16.0625rem;
        padding: .25rem .625rem .625rem;
        z-index: 3
    }
}

.data-header__verified-logo {
    margin-left: .3125rem
}

.data-header__profile-image {
    display: block
}

.data-header__headline-container {
    align-items: center;
    background-image: linear-gradient(to bottom, var(--tm-white, #fff) 0%, var(--tm-grey, #ddd) 60%);
    display: inline-flex;
    font-size: 1.875rem;
    grid-area: name;
    margin: 0;
    padding-left: .3125rem
}

@media(min-width: 769px) {
    .data-header__headline-container {
        background-image: unset;
        display: flex;
        padding-left: 0
    }
}

.data-header__headline-wrapper {
    color: var(--tm-dark-blue, #1a3151);
    font-family: var(--tm-quaternary-font, 'OSL', 'OSL-fallback', sans-serif);
    font-size: 1.875rem;
    font-weight: normal;
    margin: 0 0 0 .125rem
}

@media(min-width: 769px) {
    .data-header__headline-wrapper {
        font-size: 2.375rem
    }
}

.data-header__headline-wrapper--oswald {
    font-family: var(--tm-secondary-font, 'Oswald-VF', 'Oswald-fallback', sans-serif);
    font-size: 1.4375rem;
    font-variation-settings: "wght" 700
}

@media(min-width: 769px) {
    .data-header__headline-wrapper--oswald {
        font-size: 2.375rem
    }
}

.data-header__btn-favorite {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    display: inline-flex
}

.data-header__badge-container {
    align-items: flex-end;
    border-top: .0625rem solid var(--tm-grey, #ddd);
    display: inline-flex;
    grid-area: triumphs;
    justify-content: flex-start;
    margin-top: .1875rem;
    padding: .1875rem 0 .1875rem .3125rem
}

@media(min-width: 769px) {
    .data-header__badge-container {
        border-top: unset;
        margin-top: 0;
        min-height: 5rem;
        padding: 0
    }
}

.data-header__info-box {
    align-items: center;
    grid-area: details;
    line-height: 1.1875rem;
    margin: .125rem 0 0 .3125rem
}

@media(min-width: 769px) {
    .data-header__info-box {
        align-items: center;
        display: inline-grid;
        margin: 0
    }
}

.data-header__info-box--as-big-box {
    grid-area: auto
}

@media(min-width: 769px) {
    .data-header__info-box--as-big-box {
        grid-area: inherit
    }
}

.data-header__shirt-number {
    font-weight: bold
}

.data-header__details {
    align-self: center;
    display: flex;
    flex-direction: column
}

@media(min-width: 769px) {
    .data-header__details {
        display: grid;
        grid-gap: 0 .625rem;
        grid-template-columns: repeat(3, auto)
    }
}

.data-header__items {
    display: flex;
    flex-direction: column;
    margin: 0
}

.data-header__label {
    align-self: flex-start;
    color: var(--tm-dark-grey, #333);
    display: block
}

.data-header__content {
    color: var(--tm-dark-grey, #333);
    font-weight: bold
}

.data-header__content--vertical-aligned {
    align-items: center;
    display: inline-flex
}

.data-header__content--tiny-logo {
    margin: 0 2px;
    vertical-align: text-bottom
}

.data-header__content .flagge,
.data-header__content .flaggenrahmen {
    margin: 0 .125rem
}

.data-header__content--highlight {
    color: var(--tm-light-blue, #1d75a3)
}

.data-header__content--thin {
    font-weight: normal
}

.data-header__profile-container {
    align-items: flex-start;
    background: var(--tm-white, #fff);
    display: inline-flex;
    grid-area: image;
    justify-content: center;
    margin: .1875rem .1875rem 0;
    position: relative;
    width: 6.875rem
}

@media(min-width: 769px) {
    .data-header__profile-container {
        align-items: flex-end;
        margin: 0;
        width: auto
    }
}

.data-header__profile-container--national-team {
    background-color: rgba(0, 0, 0, 0)
}

.data-header__profile-container--national-team>img {
    border: .1875rem solid var(--tm-lightest-grey, #f2f2f2);
    border-radius: 100%
}

.data-header__box__flag {
    border: .0625rem solid var(--tm-foggy-sky, #d2e3ed);
    border-radius: 50%
}

.data-header__box--big {
    align-items: center;
    background-color: var(--tm-white, #fff);
    border: 0;
    border-bottom: .0625rem solid var(--tm-grey, #ddd);
    display: inline-flex;
    grid-area: infobox;
    justify-self: start;
    margin: .3125rem 0 .3125rem .3125rem;
    max-height: 7.5rem;
    padding: 0 0 .3125rem;
    width: calc(100% - .625rem)
}

@media(min-width: 769px) {
    .data-header__box--big {
        border: .0625rem solid var(--tm-grey, #ddd);
        justify-self: end;
        margin: .625rem 0 0;
        padding: .625rem .9375rem .625rem .625rem;
        width: unset
    }
}

.data-header__box--bare {
    background: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0
}

.data-header__box--small {
    align-items: center;
    background-color: var(--tm-lightest-blue, #00aded);
    border: .0625rem solid var(--tm-grey, #ddd);
    box-shadow: inset 0 0 3.125rem rgba(49, 79, 119, .5);
    color: var(--tm-white, #fff);
    display: inline-flex;
    font-family: var(--tm-quaternary-font, 'OSL', 'OSL-fallback', sans-serif);
    font-size: 1.5rem;
    grid-area: marketvalue;
    height: 1.75rem;
    justify-content: flex-end;
    margin: 0 .125rem .125rem;
    min-width: 6.75rem;
    padding: 0 .3125rem;
    place-self: flex-end flex-end
}

@media(min-width: 769px) {
    .data-header__box--small {
        align-items: unset;
        height: 5.375rem;
        margin: 0;
        min-width: 14.375rem;
        padding: .3125rem 1.5625rem
    }
}

.data-header__box--small span:first-child {
    font-size: 1rem
}

.data-header__box--link {
    background-color: var(--tm-lightest-grey, #f2f2f2);
    border: .125rem solid var(--tm-white, #fff);
    color: var(--tm-light-blue, #1d75a3);
    display: inline-flex;
    flex-direction: column;
    grid-area: marketvalue;
    justify-content: center;
    justify-self: flex-end;
    line-height: 1rem;
    margin-left: .1875rem;
    min-width: 6.875rem;
    padding: .25rem .1875rem;
    transform: translateY(-0.125rem)
}

@media(min-width: 769px) {
    .data-header__box--link {
        background-color: var(--tm-white, #fff);
        border: .0625rem solid var(--tm-grey, #ddd);
        display: flex;
        line-height: 1.0625rem;
        min-width: 15.625rem;
        padding: .125rem .9375rem
    }
}

.data-header__box--link:hover {
    background-color: var(--tm-lightest-grey, #f2f2f2);
    text-decoration: none
}

.data-header__box--link .data-header__label,
.data-header__box--link .data-header__content {
    color: var(--tm-light-blue, #1d75a3)
}

.data-header__box__club-link {
    display: flex
}

.data-header__toggle {
    background-color: var(--tm-lightest-grey, #f2f2f2);
    border-radius: 0 1.25rem 0 0;
    bottom: 0;
    height: 1.375rem;
    left: 0;
    position: absolute;
    width: 1.75rem
}

.data-header__toggle--active .data-header__list-clubs {
    display: block
}

.data-header__toggle:hover {
    background-color: var(--tm-lightest-grey, #f2f2f2)
}

.data-header__toggle-icon {
    color: var(--tm-lightest-blue, #00aded);
    cursor: pointer;
    display: inline-block;
    font-family: var(--tm-secondary-font, 'Oswald-VF', 'Oswald-fallback', sans-serif);
    font-size: 1.6875rem;
    font-weight: bold;
    height: 1.375rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: center;
    width: 1.375rem
}

.data-header__toggle-icon img {
    vertical-align: bottom
}

.data-header__list-clubs {
    background-color: var(--tm-lightest-grey, #f2f2f2);
    border: .0625rem solid var(--tm-grey, #ddd);
    border-top: .0625rem solid var(--tm-lightest-grey, #f2f2f2);
    display: none;
    font-family: var(--tm-secondary-font, 'Oswald-VF', 'Oswald-fallback', sans-serif);
    left: -0.0625rem;
    line-height: 1.8;
    padding: .25rem .5rem;
    position: absolute;
    text-align: left;
    top: 1.375rem;
    width: 15rem;
    z-index: 9999
}

.data-header__list-clubs img {
    margin-bottom: -0.125rem;
    margin-right: .4375rem
}

.data-header__list-clubs span {
    display: inline-block;
    font-size: .8125rem;
    line-height: 1.375rem
}

.data-header__link-headline {
    font-size: .75rem;
    font-weight: normal;
    margin-bottom: .1875rem
}

@media(min-width: 769px) {
    .data-header__link-headline {
        font-size: .875rem;
        font-weight: bold
    }
}

.data-header__club-info {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.125rem;
    padding: 0 .5rem
}

@media(min-width: 769px) {
    .data-header__club-info {
        display: block
    }
}

.data-header__club {
    color: var(--tm-dark-blue, #1a3151);
    font-size: 1rem;
    font-weight: bold
}

.data-header__ribbon {
    height: 4.6875rem;
    overflow: hidden;
    position: absolute;
    right: -0.3125rem;
    text-align: right;
    top: -0.3125rem;
    width: 4.6875rem
}

.data-header__ribbon span {
    background: linear-gradient(var(--tm-lightest-blue, #00aded) 0%, var(--tm-azure, #314f77) 100%);
    color: var(--tm-white, #fff);
    display: block;
    font-family: var(--tm-primary-font, 'Source Sans Pro', 'Source Sans Pro-fallback', sans-serif);
    font-size: .75rem;
    font-weight: bold;
    line-height: 1.25rem;
    position: absolute;
    right: -1.3125rem;
    text-align: center;
    text-transform: uppercase;
    top: 1.1875rem;
    transform: rotate(45deg);
    width: 6.25rem
}

.data-header__ribbon span::after,
.data-header__ribbon span::before {
    border-bottom: .1875rem solid rgba(0, 0, 0, 0);
    border-top: .1875rem solid var(--tm-azure, #314f77);
    content: "";
    position: absolute;
    top: 100%
}

.data-header__ribbon span::before {
    border-left: .1875rem solid var(--tm-azure, #314f77);
    border-right: .1875rem solid rgba(0, 0, 0, 0);
    left: 0
}

.data-header__ribbon span::after {
    border-left: .1875rem solid rgba(0, 0, 0, 0);
    border-right: .1875rem solid var(--tm-azure, #314f77);
    right: 0
}

.data-header__two-value-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start
}

.data-header__market-value-wrapper {
    color: var(--tm-white, #fff);
    font-size: 1.5rem;
    text-align: right
}

@media(min-width: 769px) {
    .data-header__market-value-wrapper {
        font-size: 3.875rem
    }
}

.data-header__market-value-wrapper:hover {
    text-decoration: none
}

.data-header__market-value-wrapper span:first-child {
    color: var(--tm-white, #fff);
    font-size: 1rem
}

@media(min-width: 769px) {
    .data-header__market-value-wrapper span:first-child {
        font-size: 1.875rem
    }
}

.data-header__last-update {
    display: none;
    font-size: .6875rem;
    line-height: 1
}

@media(min-width: 769px) {
    .data-header__last-update {
        display: block
    }
}

.data-header__league {
    display: inline-block
}

.data-header__league-box {
    max-width: 10rem
}

.data-header__league-link {
    display: flex;
    font-weight: normal;
    line-height: .9375rem;
    margin-left: .125rem
}

@media(min-width: 769px) {
    .data-header__league-link {
        font-weight: bold
    }
}

.data-header__league-link img {
    align-self: center;
    height: .5625rem;
    margin: 0 .25rem 0 0;
    width: .875rem
}

@media(min-width: 769px) {
    .data-header__league-link img {
        height: auto;
        margin: 0 .125rem 0 0;
        width: auto
    }
}

.data-header__success-data {
    align-items: center;
    display: inline-block;
    height: 2.375rem;
    margin: 0;
    min-width: 2.8125rem;
    padding: .25rem;
    position: relative
}

@media(min-width: 769px) {
    .data-header__success-data {
        height: 5rem;
        margin: 0 0 0 1.125rem;
        padding: 0
    }
}

.data-header__success-data:first-child {
    margin-left: 1.375rem
}

@media(min-width: 769px) {
    .data-header__success-data:first-child {
        margin: 0
    }
}

.data-header__success-data img {
    height: 1.875rem;
    width: auto
}

@media(min-width: 769px) {
    .data-header__success-data img {
        height: auto
    }
}

.data-header__success-data--flag {
    border: .1875rem solid #fff;
    border-radius: 50%
}

.data-header__success-more {
    bottom: -0.125rem;
    filter: drop-shadow(0 0 0.5625rem rgb(255, 255, 255));
    left: -0.25rem;
    margin: 0 0 .1875rem .4375rem;
    position: absolute
}

@media(min-width: 769px) {
    .data-header__success-more {
        margin: 0 0 0 1.125rem
    }
}

.data-header__success-more img {
    height: auto
}

.data-header__success-number {
    background-color: var(--tm-lightest-blue, #00aded);
    border: .125rem solid var(--tm-white, #fff);
    border-radius: .625rem;
    bottom: .0625rem;
    color: var(--tm-white, #fff);
    font-family: var(--tm-quaternary-font, 'OSL', 'OSL-fallback', sans-serif);
    font-size: .75rem;
    font-weight: bold;
    height: 1.25rem;
    line-height: .9375rem;
    position: absolute;
    right: .5rem;
    text-align: center;
    width: 1.25rem;
    z-index: 4
}

@media(min-width: 769px) {
    .data-header__success-number {
        border-radius: 1.5625rem;
        bottom: -0.25rem;
        font-size: 1.125rem;
        height: 1.875rem;
        line-height: 1.5625rem;
        right: -0.25rem;
        width: 1.875rem
    }
}

.data-header .dataErfolge {
    padding: 0 !important
}

.data-header .dataErfolge>.dataErfolg:first-child {
    margin-left: .4375rem
}

.data-header .modal-trigger {
    border: .125rem solid var(--tm-white, #fff)
}

.data-header__watchlist {
    background-color: var(--tm-white, #fff);
    border-top: .0625rem solid var(--tm-grey, #ddd);
    display: flex;
    grid-area: watchlist;
    height: 2.5rem;
    justify-content: center;
    text-align: center
}

.data-header__watchlist .watchlistLink {
    font-family: var(--tm-primary-font, 'Source Sans Pro', 'Source Sans Pro-fallback', sans-serif);
    font-size: .875rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin-left: .1875rem
}

.data-header__watchlist .watchlistButtonClass {
    cursor: pointer;
    height: 2.1875rem;
    width: 2.1875rem
}

/*zzz*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


.bg_ueberschrift {
    background-color: #d5e4ec !important
}

.bg_Torwart {
    background-color: #4384a8 !important;
    color: #fff
}

.bg_Abwehr {
    background-color: #6da0bc !important;
    color: #fff
}

.bg_Mittelfeld {
    background-color: #acc9d9 !important
}

.bg_Sturm {
    background-color: #d5e4ec !important
}

.bg_Torwart_ma {
    background-image: url("/images/svg/managerspiel/MA_Torwart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    cursor: help
}

table .rueckennummer {
    width: 45px
}

table .smallrueckennummer {
    width: 40px
}

table .rn_nummer {
    width: 21px;
    height: 21px;
    border-radius: 12px;
    padding-top: 2px;
    color: #fff;
    font-weight: 700;
    background-color: #003555;
    text-align: center;
    display: inline-block
}

table .rn_smallnummer {
    width: 18px;
    height: 18px;
    border-radius: 12px;
    padding-top: 2px;
    color: #fff;
    font-weight: 700;
    background-color: #003555;
    text-align: center;
    display: inline-block
}


img {
    vertical-align: initial;
    max-width: 100%;
    height: auto
}



table {
    background: none;
    margin: 0;
    border: 0;
    width: 100%;
    border-collapse: collapse
}

table thead,
tbody,
table tfoot {
    background: rgba(0, 0, 0, 0);
    border: none
}

table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
    display: table-cell;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    border: 1px solid #e4e4e4
}

table thead tr th,
table tfoot tr td {
    padding: 8px 8px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    border: 1px solid #ddd;
    border-top: 0px;
    background: #f2f2f2
}

table tfoot tr td {
    background: #f2f2f2;
    color: #666;
    padding: 5px 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

table tbody tr,
tbody tr:nth-child(even) {
    background: #fff
}

table tbody tr td {
    color: #57585a;
    padding: 4px 3px;
    vertical-align: middle;
    border: 1px solid #e4e4e4
}

table thead tr th:first-child,
table tfoot tr td:first-child,
table tbody tr td:first-child {
    border-left: 0
}

table thead tr th:first-child {
    padding-left: 4px;
    padding-right: 4px;
    border-left: 0
}

table tbody tr td:first-child {
    padding-left: 4px;
    padding-right: 4px
}

table tfoot tr td:first-child {
    padding-left: 4px;
    border-left: 0
}

table thead tr th:last-child,
table tfoot tr td:last-child,
table tbody tr td:last-child {
    border-right: none
}

table .hauptlink {
    font-weight: 700
}

table .inline-table {
    margin: 0;
    border: 0;
    width: auto;
    border-collapse: collapse;
    box-shadow: none
}

table .inline-table table tr td {
    display: table-cell;
    font-size: 12px;
    line-height: 0;
    text-align: left;
    border: 0;
    padding: 0
}

table .inline-table img {
    vertical-align: bottom
}

table .inline-table tbody tr td {
    color: #333;
    padding: 0 0 0 5px;
    vertical-align: middle;
    -moz-border: none;
    -moz-border-radius: 0;
    border-width: 0
}

table .inline-table tbody tr {
    background: rgba(0, 0, 0, 0)
}

table .zentriert {
    text-align: center
}

table .rechts {
    text-align: right
}

table thead .rechts {
    padding-right: 5px
}

table tbody .rechts {
    padding-right: 10px
}

table .no-border-rechts {
    border-right: none
}

table .no-border-links {
    border-left: none
}

table .no-border-oben {
    border-top: none
}

table .no-border-unten {
    border-bottom: none !important
}
